<header
  class="navbar" 
  ngClass.gt-sm="navbar--gt-sm"
  [ngClass]="{'navbar--scrolled': navScrolled}"
  fxLayout="row"
  fxLayoutAlign="start center"
>

  <button class="menu-toggle" fxHide.gt-sm (click)="toggleMenu()">
    <fa-icon [icon]="icMenu"></fa-icon>
  </button>
  
  <h3 class="logo" ngClass="text-center" ngClass.gt-sm="text-left" fxFlex="2 1 auto"><a routerLink="/">D.</a></h3>
  
  <nav #nav 
    [ngClass]="{'nav': true, 'nav--expand': menuToggle}"
    [ngClass.gt-sm]="{'nav': false, 'nav--gt-sm': true}"
  >
    <button class="btn-close" fxHide.gt-sm (click)="toggleMenu()">&times;</button>
    
    <div
      ngClass="nav__links"
      [ngClass.gt-sm]="{'nav__links': false}"    
    >
      <a routerLink="/services" (click)="toggleMenu()">Services</a>
      <a routerLink="/breeds" (click)="toggleMenu()">Breeds</a>
      <a routerLink="/" (click)="toggleMenu()">Tools</a>
      <a routerLink="/blog" (click)="toggleMenu()">Blog</a>
    </div>
  
  </nav>

  <button class="sidebar-toggle" (click)="toggleSidenav()">
      <fa-icon [icon]="icMore"></fa-icon>
  </button>

  

</header>
