<mat-sidenav-container>
  <mat-sidenav 
    #sidenav
    class="sidenav"
    ngClass.gt-xs="sidenav--gt-xs" 
    mode="push" 
    position="end"
    [fixedInViewport]="true">

    <button class="sidenav__btn-close" (click)="sidenav.close()">&times;</button>

    <app-sidenav></app-sidenav>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (toggleEmitter)="sidenav.toggle()"></app-header>
    
    <div class="page">
      
      <router-outlet></router-outlet>
    
      <div class="change-orientation">
        <h3>Change to landscape mode to continue</h3>
      </div>
    
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>