@import 'variables';

.service-content {
    margin: 2em 0;
}

.service-content--gt-xs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em 3em;
}

.service {
    fa-icon {
        margin-bottom: 0.5em;
        position: relative;
        display: inline-block;
        font-size: 2em;
    }
}

.service:hover {
    fa-icon {
        -webkit-animation: spin 2s cubic-bezier(0, 0.45, 0.32, 1.28);
        animation: spin 2s cubic-bezier(0, 0.45, 0.32, 1.28);
    }
}

.mat-button {
    margin: 2em 0 3em;
    padding: 0.2em 4em;
    border-radius: 6px;
    background-color: $black;
    color: $white;
}

@keyframes spin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}