<div class="about">
  <h5>About</h5>
  <p>
    Our mission at Dogify is to be able to provide peace of mind to you knowing that your 
    baby receiving the best care possible. Our foundation is built upon a team of highly 
    trained and dedicated pet care professionals.
  </p>
</div>

<div class="booking">
  <h5>Book a service</h5>
  <form class="form--booking">

    <div class="service-options">
        <div class="option">
          <input id="dog-walking" type="radio" name="service" value="dog-walking" checked> 
          <label for="dog-walking">
            <fa-icon [icon]="['fas', 'route']"></fa-icon>
            <div>Dog Walking</div>
          </label>
        </div>
    
        <div class="option">
          <input id="tricks-training" type="radio" name="service" value="tricks-training">
          <label for="tricks-training">
            <fa-icon [icon]="['fas', 'bone']"></fa-icon>
            <div>Trick Training</div>
          </label>
        </div>
    
        <div class="option">
          <input id="house-sitting" type="radio" name="service" value="house-sitting">
          <label for="house-sitting">
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
            <div>House Sitting</div>
          </label>
        </div>
    
          <div class="option">
            <input id="pet-boarding" type="radio" name="service" value="pet-boarding">
            <label for="pet-boarding">
              <fa-icon [icon]="['fas', 'suitcase-rolling']"></fa-icon>
              <div>Pet Boarding</div>
            </label>
          </div>
    </div>

    <div class="form__address">
      <label class="form__label" for="address">Where is your address?</label>
      <input id="address" type="text" placeholder="Postal Code or Address">
    </div>

    <div class="form__date">
      <label class="form__label" for="date">What dates you need?</label>
      <input id="date" type="date" placeholder="Postal Code or Address">
    </div>

    <button class="btn" ngClass.gt-xs="btn--gt-xs" mat-raised-button>Submit</button>

  </form>
</div>

<div class="social">
  <h5>Social</h5>
  <div>
    <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    <fa-icon [icon]="['fab', 'twitter-square']"></fa-icon>
    <fa-icon [icon]="['fab', 'google-plus-square']"></fa-icon>
    <fa-icon [icon]="['fab', 'youtube-square']"></fa-icon>
  </div>
</div>