@import 'helper';

body {
  margin: 0;
  font-family: $font-family--primary;
  line-height: 1.4;
  color: palette(grey);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

i,
a,
button {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-family--secondary;
  color: palette(black);
}

h1 {font-size: 3.157em;}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

h5 {font-size: 1em;}

h6 {font-size: 0.75em;}

input[type='text'], input[type='date'] {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  box-sizing: border-box;
  border: 1px solid $black;
  border-radius: 6px;

  &:focus {
    border-radius: 0;
  }
}

input[type='date'] {
  background-color: transparent;
  appearance: none;
}

fa-icon {
  display: inline-block;
}

.text-center { text-align: center; }

.text-left { text-align: left; }

.sub-title {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

.post {
  margin-bottom: 5em;
}

.post__date {
  margin-bottom: 1em;
  font-size: 0.75em;
  color: palette(grey, light);
}

.post__content {
  margin: 2em 0;
  padding-right: 10%;
}

.source {
  margin-top: 1em;
  font-size: 0.75em;
  color: palette(grey);

  a {
    font-style: italic;
  }
}

.btn {
  width: 100%;
  background-color: $black;
  color: white;
}

.btn--gt-xs {
  width: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}


.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent!important;
}

.mat-drawer-inner-container {
  width: 80%!important;
  margin: auto;
  overflow: initial!important;
}

.social {
  fa-icon {
    margin-top: 1em;
    margin-left: 1em;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {

  .change-orientation {
    display: block !important;
  } 

}