@import 'variables';

$mat-white: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $black,
    700: $black,
    800: $black,
    900: $black,
    A100: $black,
    A200: $black,
    A400: $black,
    A700: $black,
  )
);

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-white);
$accent:  mat-palette($mat-grey, 800);
$warn: mat-palette($mat-red, 400);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);