.navbar {
  width: 100%;
  padding: 0 5vw;
  position: fixed;
  top: 0;
  z-index: 10;
  color: white;
}

.navbar--gt-sm {
  width: 50%;
}

.nav--gt-sm {
  a {
    margin-right: 1.5em;
  }
}

.nav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: width 500ms;
}

.nav--expand {
  width: 100%;
}

.nav__links {
  width: 100%;
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 1.777em;

  & a {
    display: block;
  }
}

.btn-close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 700;
  font-size: 3em;
}


.logo {
  text-align: center;
}
