<app-container>
  <!-- <ng-container *ngIf="first">
    <div class="blog-wrapper">
        <div class="article">
          <h2>{{ first.title }}</h2>
          <p>{{ first.content }}</p>
        </div>
      </div>
  </ng-container> -->

  <div class="post-container">
      <div class="post">
        <div class="post-content">
          <div class="thumbnail">
            <img src="" alt="">
          </div>
          <div class="post__date">October 18, 2018</div>
          <h4 class="post__title">How to train a wolf</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean condimentum ullamcorper orci, quis hendrerit elit bibendum non. 
            Vestibulum eleifend mattis odio nec iaculis. Proin feugiat eu purus sit amet aliquam. 
            Morbi accumsan ex non leo varius rhoncus. 
            Nam semper augue urna, sit amet condimentum nisi egestas ac.
          </p>
          <button class="sub-title">Read article</button>
        </div>
      </div>
    
      <div class="post">
        <div class="post-content">
          <div class="thumbnail">
            <img src="" alt="">
          </div>
          <div class="post__date">October 18, 2018</div>
          <h4 class="post__title">How to train a wolf</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean condimentum ullamcorper orci, quis hendrerit elit bibendum non. 
            Vestibulum eleifend mattis odio nec iaculis. Proin feugiat eu purus sit amet aliquam. 
            Morbi accumsan ex non leo varius rhoncus. 
            Nam semper augue urna, sit amet condimentum nisi egestas ac.
          </p>
          <button class="sub-title">Read article</button>
        </div>
      </div>

      <div class="post">
        <div class="post-content">
          <div class="thumbnail">
            <img src="" alt="">
          </div>
          <div class="post__date">October 18, 2018</div>
          <h4 class="post__title">How to train a wolf</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean condimentum ullamcorper orci, quis hendrerit elit bibendum non. 
            Vestibulum eleifend mattis odio nec iaculis. Proin feugiat eu purus sit amet aliquam. 
            Morbi accumsan ex non leo varius rhoncus. 
            Nam semper augue urna, sit amet condimentum nisi egestas ac.
          </p>
          <button class="sub-title">Read article</button>
        </div>
      </div>

      <div class="post">
        <div class="post-content">
          <div class="thumbnail">
            <img src="" alt="">
          </div>
          <div class="post__date">October 18, 2018</div>
          <h4 class="post__title">How to train a wolf</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean condimentum ullamcorper orci, quis hendrerit elit bibendum non. 
            Vestibulum eleifend mattis odio nec iaculis. Proin feugiat eu purus sit amet aliquam. 
            Morbi accumsan ex non leo varius rhoncus. 
            Nam semper augue urna, sit amet condimentum nisi egestas ac.
          </p>
          <button class="sub-title">Read article</button>
        </div>
      </div>
  </div>
  
</app-container>
