@import 'helper';

.masonry--gt-xs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em 5vw;
  grid-auto-rows: 1em;
  font-size: 0.85em;
}

.thumbnail {

  img {
    margin: 0 0 1em;
    width: 100%;
  }
}

.btn--blog {
  font-size: 0.85em;
  font-weight: 700;
  color: $black;
}