@import 'variables';

.classification {
    opacity: 1;
    transition: opacity 500ms;
}

.test {
    opacity: 0;
}

.preview {
    margin: 2em 0;
    padding: 0 10vw;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.result {
    margin: 0 5vw 2em;
    text-align: center;
}

.fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.fade {
    opacity: 0;
}
