<app-hero></app-hero>
<main
  class="main home"
  ngClass="main--sm"
  [ngClass.gt-sm]="{'main--sm': false, 'main--gt-sm': true}"
  fxLayout="column"
  fxLayoutAlign="start start"
>
  <div ngClass.gt-xs="home-content" fxFlex="2 1 auto" fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.gt-sm="center">
      <h1 class="headline--primary">Dogify</h1>
      <p>
        We get it - dog is a important member of the family. More often than not,
        as pet parents, you may be too occupied with work that you do not have time to take care of your precious babies.
        At Dogify, we connect you with other pet lovers who you can keep your dog happy, healthy, and sweet as ever.
      </p>
  </div>

  <div class="quote" fxFlexAlign="end">
    <fa-icon [icon]="icPaw"></fa-icon>
    <span>Where dog meet human</span>
  </div>
</main>
