.headline--primary {
    margin-bottom: 0;
}

.home {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-content {
    padding-right: 10%;
}

.quote {
    margin-top: 3em;
    font-size: 0.75em;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.11em;

    span {
        margin-left: 0.5em;
    }
}