<app-hero [title]="title"></app-hero>
<main
  class="main"
  ngClass="main--sm"
  [ngClass.gt-sm]="{'main--sm': false, 'main--gt-sm': true}"
  fxLayout="column"
  fxLayoutAlign="start"
>
  <p>
    AI may be busy taking over the world.
    However, they can certainly help us answer
    an ubiquitous question that we all ask
    when meeting a four-legged stranger:
    <strong>what kind of good pup is that?</strong>
  </p>
  
  <div class="preview" [ngStyle]="{ 'background-image': 'url(' + preview + ')' }">
  </div>

  <div class="result">{{ breed }}</div>
  

  <input fxHide #imgPicker type="file" (change)="onImgSelected($event)">

  <button mat-fab class="fab" (click)="imgPicker.click()">+</button>

</main>
