<app-container>
  <p>
    AI may be busy taking over the world.
    However, they can certainly help us answer
    an ubiquitous question that we all ask
    when meeting a four-legged stranger:
    <strong>what kind of good pup is that?</strong>
  </p>
  
  <div class="preview" [ngStyle]="{ 'background-image': 'url(' + preview + ')' }">
  </div>

  <ng-container *ngIf="breed">
    <div class="result">{{ breed.name }}</div>
  </ng-container>  

  <input fxHide #imgPicker type="file" accept=".png, .jpg, .jpeg" (change)="onImgSelected($event)">

  <button mat-fab class="fab" (click)="imgPicker.click()">+</button>
</app-container>
