<app-hero [title]="title"></app-hero>
<main 
  class="main"
  ngClass.gt-sm="main--gt-sm"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <p>
    AI may be busy taking over the world. 
    However, they can certainly help us answer 
    an ubiquitous question that we all ask 
    when meeting a four-legged stranger: 
    <strong>what kind of good pup is that?</strong>
  </p>
  <img class="img-preview" src="../../../assets/img/poodle.jpg" alt="preview image">
  <input #imgPicker fxHide type="file" (change)="onImgSelected($event)">
  <button class="btn btn--dark" ngClass.gt-xs="btn--dark--gt-xs" (click)="imgPicker.click()">Pick an image</button>
</main>
