@import 'variables';

:host {
    display: block;
}

.preview {
    padding: 0 10vw;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.result {
    margin: 3em;
    text-align: center;
}

.fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.fade {
    opacity: 0;
}
