@import 'global';
@import 'theme';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.text-center { text-align: center; }
.text-left { text-align: left; }

.btn--gt-xs {
  margin-left: auto !important;
  margin-right: auto !important;
}

.sub-title {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

.post {
  margin-bottom: 5em;
}

.post__date {
  margin-bottom: 1em;
  font-size: 0.75em;
  color: palette(grey, light);
}

.post__content {
  margin: 2em 0;
  padding-right: 10%;
}

.source {
  margin-top: 1em;
  font-size: 0.75em;
  color: palette(grey);

  a {
    font-style: italic;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {

  .change-orientation {
    display: block !important;
  } 

}