@import 'variables';

.service-content--gt-xs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.service fa-icon {
    margin-bottom: 0.5em;
    display: block;
    font-size: 2em;
}

.btn--dark {
    margin: 3em auto;
    display: block;
    background-color: $black;
    color: $white;
}