@import 'variables';

.service-content {
    margin: 2em 0;
}

.service-content--gt-xs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.service fa-icon {
    margin-bottom: 0.5em;
    display: block;
    font-size: 2em;
}

.btn--dark {
    margin: 2em 0 3em;
    display: block;
    background-color: $black;
    color: $white;
}

.btn--dark--gt-xs {
    margin-left: auto;
    margin-right: auto;
}