{% extends 'layout.html' %} {% block body %}

<h2 class="mb-2">Add new post</h2>

<form action="{{ url_for('add_blog') }}" method="POST">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="postTitle"
      name="title"
      placeholder="How to train a wolf"
    />
  </div>

  <div class="form-group">
    <label for="postThumbnail">Thumbnail</label>
    <input
      type="text"
      class="form-control"
      id="postThumbnail"
      name="thumbnail"
      placeholder="static/img/image.jpg"
    />
  </div>

  <div class="form-group">
    <label for="postAuthor">Author Id</label>
    <input
      type="text"
      class="form-control"
      id="postAuthor"
      name="author_id"
      placeholder="1"
    />
  </div>

  <div class="form-group">
    <label for="postPreview">Preview</label>
    <textarea
      class="form-control"
      id="postPreview"
      name="preview"
      placeholder="Did you know..."
      rows="3"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="postContent">Content in Html</label>
    <textarea
      class="form-control"
      id="postContent"
      name="content"
      placeholder="Training a wolf is easy..."
      rows="6"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
