//Media Query
$small-screen: 600px;
$small-screen-up: 601px;
$medium-screen: 767px;
$medium-screen-up: 48em;
$large-screen: 991px;
$large-screen-up: 62em;
$x-large-screen: 1279px;
$x-large-screen-up: 80em;

$medium-and-up: "only screen and (min-width: #{$medium-screen-up})";
$large-and-up: "only screen and (min-width: #{$large-screen-up})";
$x-large-and-up: "only screen and (min-width: #{$x-large-screen-up})";


@mixin mq($break) {
  @if $break == "small" {
  	@media only screen and (max-width: em($medium-screen)) {
			@content;
		}
  }
  @else if $break == "medium" {
    @media #{$medium-and-up} {
      @content;
    }
  }
  @else if $break == "large" {
    @media #{$large-and-up} {
      @content;
    }
  }
   @else {
   	@error "Whoops! No value could be retrieved for `#{$break}`. ";
  }
}
