@import 'global';
@import 'theme';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.text-center { text-align: center; }
.text-left { text-align: left; }

.main {
  padding: 0 5vw;
  min-height: 50vh;
  overflow: auto;
}

.main--gt-sm {
  margin-left: 50%;
  min-height: 100vh;
}

.btn {
  padding: 1em 4em;
  border-radius: 6px;
}

.btn--dark {
  margin: 2em 0 3em;
  display: block;
  background-color: $black;
  color: $white;
}

.btn--dark--gt-xs {
  margin-left: auto;
  margin-right: auto;
}