@import 'variables';

.hero {
  width: 100%;
  height: 50vh;
  padding: 0 5vw;
  background-size: cover;
  background-color: $black;
  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    color: $white;
    text-transform: capitalize;
  }
}


.hero--gt-sm {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
